.about_img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .about_text {
    padding-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .about_img {
      width: 100%;
      height: auto;
    }
  }
  
  
  
  
  
  
  