.main {
    padding-left: 70px;
}
h2 {
    margin-top: 40px;
}
.resume_profession {
    width: 770px;
    padding-top: 10px;
}
h3 {
    padding-top: 30px;
}
.resume_expierience {
    padding-top: 3px;
}
.resume_education {
    padding-top: 3px;
}
.extra_economist {
    padding-top: 3px;
}