.nav {
  list-style: none;
  padding-top: 30px;
  text-align: center;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav li {
  margin-top: 10px;
  border: 1.4px solid;
  width: 170px;
  border-radius: 4px;
  color: #a56623;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.about_photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 70px;
}
.menu_block {
  height: 100vh;
  text-align: center;
  background-color: #E9DFD4;
}
.menu_name {
  padding-top: 10px;
}
.speciality {
  padding-top: 3px;
}
.nav li:hover {
  border: 1.4px solid #206596;
}

@media screen and (max-width: 768px) {
  .contents {
    margin-top: 30px;
  }
  .menu_block {
    height: 1000px;
  }
  .about_photo {
    width: 120px;
    height: 120px;
    margin-top: 30px;
  }
  .menu_name {
    font-size: 20px;
    padding-top: 5px;
  }
  .speciality {
    font-size: 14px;
    padding-top: 3px;
  }
  .nav li {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
}
